---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aleks">
    <div class="bg-[url(/bg.jpg)] h-screen w-full flex justify-center items-center text-white">
        <div class="bg-[#000] bg-opacity-80 rounded-md w-[800px] h-[600px] flex flex-col">
            <div class="bg-white terminal-header w-[800px] h-[25px] rounded-tl-[6px] rounded-tr-[6px]">
                <p class="flex items-center justify-center text-black">Terminal</p>
            </div>
            <div class="h-[575px] p-4 overflow-y-auto" id="terminal-content">
                <p class="text-white">Begin with 'help' to find out more about me!</p>
            </div>
            <div class="input flex p-4 mt-auto bg-[#000] bg-opacity-70 rounded-bl-[6px] rounded-br-[6px]">
                <span class="prompt mr-2">$ </span>
                <input type="text" id="user-input" class="bg-transparent text-white flex-grow outline-none" placeholder="Input here">
            </div>
        </div>
    </div>
    <style>
        .skill-line {
            height: 5px;
            background-color: #00FF00; /* Green color */
            margin-bottom: 8px;
        }
        .command-prompt {
            font-weight: 500;
        }
        #terminal-content::-webkit-scrollbar {
            width: 12px;
        }

        #terminal-content::-webkit-scrollbar-thumb {
            background-color: #0e0e0e;
            border-radius: 6px; /* Rounded corners for the scrollbar thumb */
        }
    </style>
    <script>
        const userInput = document.getElementById('user-input');
        const terminalContent = document.getElementById('terminal-content');
        const skillsContainer = document.createElement('div');
        skillsContainer.className = 'skills-container';

        userInput.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                const inputText = userInput.value.trim().toLowerCase();
                userInput.value = '';

                if (inputText === 'help') {
                    terminalContent.innerHTML += '<p class="command-prompt">Commands:</p>';
                    terminalContent.innerHTML += '<p>skills</p>';
                    terminalContent.innerHTML += '<p>about</p>';
                    terminalContent.innerHTML += '<p>contact</p>';
                } else if (inputText === 'skills') {
                    // Clear the terminal content
                    terminalContent.innerHTML += '<p class="command-prompt">C:/System/Terminal> Skills</p>';
                    terminalContent.innerHTML += '<p>Golang 50%</p>';
                    terminalContent.innerHTML += '<p>███████▒▒▒</p>';
                    terminalContent.innerHTML += '<p>Typescript 70%</p>';
                    terminalContent.innerHTML += '<p>█████████▒</p>';
                    terminalContent.innerHTML += '<p>Java 30%</p>';
                    terminalContent.innerHTML += '<p>███▒▒▒▒▒▒▒</p>';
                    terminalContent.innerHTML += '<p>Rust 5%</p>';
                    terminalContent.innerHTML += '<p>█▒▒▒▒▒▒▒▒▒</p>';
                } else if (inputText === 'about') {
                    terminalContent.innerHTML += '<p class="command-prompt">C:/System/Terminal> About</p>';
                    terminalContent.innerHTML += '<p>My name is Aleks, I\'m a 15-year-old who loves coding, gaming, and listening to music. I started coding when I was 12 by copying HTML tutorials on YouTube!</p>';
                } else if (inputText === 'contact') {
                    terminalContent.innerHTML += '<p class="command-prompt">C:/System/Terminal> Contact</p>';
                    terminalContent.innerHTML += '<p>You can add me on Discord by my username \'aleksfr\'</p>';
                } else {
                    terminalContent.innerHTML += `<p>Command not found: ${inputText}</p>`;
                }

                terminalContent.scrollTop = terminalContent.scrollHeight;
            }
        });
    </script>
</Layout>
